aside {
  top:16px;
  position:sticky;
  min-width:150px;
  overflow-y:auto;
  scrollbar-width: thin;

  h3 {font-size: 15px}
  a,input{font-size:13px}
  h3,input{margin-bottom:8px}

  /* Link decoration */
  a{text-transform:none}
  a::before{content:'❖'}

  button{font-size:14px}

  /* Search input */
  input{
    padding:4px;
    border:var(--border);
    width:calc(100% - 12px);
  }

  ul>ul{margin-left:8px}
}

#sidebar{
  grid-area:side;
  left: 12px;
  align-self: start;
  height: calc(100vh - 32px);
}

#nav {
  grid-area:nav;
  right:12px;
  align-items:center;
  height: fit-content;
  border:var(--dashed);
  h4{margin-bottom:4px}
}

#sidebar, #mobileSidebar {
  button+ul{display: none;&.show{display:flex}}
  button:not(#themeBtn,#langBtn) {
    padding:0;&::before{content:'✸ '}
  }
}

#mobileSidebar,#overlay{display:none}
#overlay.show{
  z-index: 1;
  display: block;
  position: fixed;
  top:0;left:0;right:0;bottom:0;
  background:rgba(0, 0, 0, 0.5);
}
#mobileSidebar {
  z-index:2;
  padding:0;
  position:fixed;
  width:50%;height:100%;
  top:0;right:0;bottom:0;

  transform:translateX(100%);
  transition:transform 0.3s ease;
  display:flex;align-items:start;
  &.show{transform:translateX(0)}

  >ul{margin: 12px 0 0 16px}
  div{
    gap: 16px;
    width: 100%;
    padding: 8px;
    align-items: center;
    input{margin-left:16px;width:40%}
    border-bottom: var(--border);
    &:first-child{font-size:12px;justify-content:end}
    &:nth-child(2) {
      justify-content: center;
      a::before{content: ''}
    }
    &:nth-child(3){justify-content:space-between}
  }
}

@media (max-width: 1024) {
  #mobileSidebar,#overlay{display:none}
}
@media (max-width: 768px){
  #nav, #sidebar{display: none}
}
