header {
  div {align-items:center;gap:12px}

  #themeBtn{display:none}
  #menuBtn{display:block !important;margin-left:16px}
}

/* Main Content */
main {
  grid-template-columns:auto 1fr auto;
  grid-template-areas:"side content nav";
  hr{border:none;border-top:var(--dashed)}

  #nav {
    padding:0 0 4px 0;
    h3 {
      width:100%;
      padding:12px;
      text-align:center;
      border-bottom:var(--dashed);
    }
    ul{gap: 6px;margin-bottom:8px}
    hr{margin: 4px 0}
    a{color:var(--subtle)}
    li{margin-right: 8px}
    #lvl-1 {
      margin-left: 12px;
      &:before{content: '⦿ '}
      &:hover{color:var(--rose)}
      &.active{color:var(--rose)}
    }
    #lvl-2 {
      margin-left: 16px;
      &:before{content:'○ '}
      &:hover{color:var(--foam)}
      &.active{color:var(--foam)}
    }
    #lvl-3 {
      margin-left: 20px;
      &:before{content:'✸ '}
      &:hover{color:var(--gold)}
      &.active{color:var(--gold)}
    }
  }

  article {
    grid-area: content;
    width: 800px;
    margin: 0 auto;
    header {
      gap:16px;
      padding:16px 20px;
      align-items:start;
      flex-direction:column;
      border: var(--border);
      background: var(--surface);
      border-bottom:var(--dashed);
      div{align-items:center;width:100%}
      #title {
        font-size:28px;
        line-height:1.2;
      }
      #title, p {margin:0 auto}
      date{color:var(--subtle);font-size:14px;margin-right:auto}
      span {
        font-size: 15px;
        cursor: pointer;
        &:before{content: '#'}
        &:hover{color: var(--love)}
      }
    }

    #prologue{
      padding:20px;
      color:var(--subtle);
      border:var(--dashed);
    }

    #content {
      padding:16px 0;
      line-height: 1.7;
      border: var(--border);
      flex-direction: column;
      border-top:var(--dashed);
      background: var(--surface);

      blockquote{
        margin:12px 0;
        padding:8px 0;
        color:var(--love);
        text-align:center;
        background:var(--bg);
        border:1px dashed var(--love);
      }

      p{margin:0 20px}
      code{
        padding:2px 4px;
        font-weight:bold;
        border-radius:2px;
        color:var(--subtle);
        border:var(--border);
        background:var(--bg);
      }
      p,b{font-size:15px}
      b+ul{margin-top:4px}
      b{margin:0;white-space:nowrap}
      a{display:inline;font-weight:600;color:var(--pine)}
      h1 {
        font-size:22px;
        margin-left:16px;
        color:var(--rose);
        &:before{content:'◉ '}
        ~ ul li{margin-left:40px}
        ~ p{margin:4px 24px 8px 28px}
        ~ b p, ~ b, ~ a{margin-left:28px}
      }
      h2 {
        font-size:20px;
        margin-left:24px;
        color:var(--foam);
        &:before{content:'○ '}
        ~ ul li{margin-left:48px}
        ~ p{margin:4px 24px 8px 36px}
        ~ b p, ~ b, ~ a{margin-left:36px}
      }
      h3 {
        font-size:18px;
        margin-left:32px;
        color:var(--gold);
        &:before{content:'✸ '}
        ~ ul li{margin-left:56px}
        ~ p{margin:4px 24px 8px 44px}
        ~ b p, ~ b, ~ a{margin-left:44px}
      }

      h4 {
        font-size:16px;
        margin-left:40px;
        color:var(--iris);
        &:before{content:'✿ '}
        ~ ul li{margin-left:60px}
        ~ p{margin:4px 24px 8px 52px}
        ~ b p, ~ ul li, ~ b, ~ a{margin-left:52px}
      }

      b ~ p {margin-bottom:4px}

      ul {
        gap: 8px;
        margin-bottom: 12px;
        li {
          display: inline;
          line-height: 1.5;
          text-indent: -10px;
          &:before{content:'• '}
        }
      }
      img{width: 100%;margin-top:16px}

      hr{margin:20px 0}
    }
  }
}

@media (max-width: 1300px){
  #sidebar {display:none}
}
@media (max-width: 1100px){
  #nav {display:none}
}
