:root {
  --bg: #faf4ed;
  --txt: #575279;
  --primary: #b4637a;
  --accent: #907aa9;
  --accent-2: #56949f;
  --accent-3: #286983;
  --accent-4: #907aa9;

  --muted: #797593;

  --surface: #fffaf3;
  --border: 1px solid var(--muted);
  --dashed: 1px dashed var(--muted);
}

[data-theme="dark"] {
  --bg: #191724;
  --surface: #1f1d2e;
  --muted: #6e6a86;
  --txt: #e0def4;
  --primary: #eb6f92;
  --accent: #c4a7e7;
  --accent-2: #9ccfd8;
  --accent-3: #31748f;
  --accent-4: #c4a7e7;

}

@media (prefers-color-scheme: dark){
  html[data-theme="system"]{ --bg:#191724;--surface:#1f1d2e;--muted:#6e6a86;--txt:#e0def4;--primary:#eb6f92;--accent:#c4a7e7;--accent-2:#9ccfd8;--accent-3:#31748f;--accent-4:#c4a7e7; }
}
@media (prefers-color-scheme: light){
  html[data-theme="system"]{ --bg:var(--lp-bg);--surface:var(--lp-surface);--muted:var(--lp-muted);--text:var(--lp-text);--accent:var(--lp-accent);--accent-2:var(--lp-accent-2);--accent-3:var(--lp-accent-3);--accent-4:var(--lp-accent-4); }
}

/* Reset */
* {margin:0;padding:0;box-sizing:border-box}

/* Capitalize */
a,button,input,mark{all:unset;text-transform:capitalize}

/* Cursor Pointer Tags */
a,button,svg,img {cursor:pointer}

/* Flex Row Tags */
div {display:flex}

/* Flex row vertically centered */
header,li,a{display:flex;align-items:center}

/* Flex column */
main,section,aside,ul{display:flex;flex-direction:column}

/* Bold Text */
button{font-weight: 600}

/* Flex Text Gap */
a {gap: 4px}

/* Surface */
aside,section{background:var(--surface);padding:12px;border:var(--border)}

/* List Style */
ul{list-style:none;font-size:15px;gap:6px}

body {
  display: grid;
  font-family: Inter,system-ui,sans-serif;
  /* font-family: Arial,-apple-system, sans-serif; */
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  gap: 16px;
  background: var(--bg);
  color: var(--txt);
}

header {
  grid-area: head;
  padding: 0 16px;
  gap: 12px;
  background: var(--surface);
  border-bottom: var(--border);

  /* Logo */
  a { 
    gap: 8px;margin-right: auto;
    svg {width: 40px;height: 40px;background:var(--accent)}
  }

  /* Control Buttons */
  button { font-size: 12px }
  #menuBtn { display: none }
}

main {grid-area: main;margin: 0 auto}

footer {
  grid-area: foot;
  border-top: var(--border);
  background: var(--surface);
}
