:root {
  --bg: #faf4ed;
  --txt: #575279;
  --primary: #b4637a;

  --muted: #9893a5;
  --subtle: #797593;

  --rose: #d7827e;
  --accent: #907aa9;
  --accent-2: #56949f;
  --accent-3: #286983;

  --surface: #fffaf3;
  --border: 1px solid var(--muted);
  --dashed: 1px dashed var(--muted);

  --scrollbar-bg: var(--surface);
  --scrollbar-thumb: var(--accent);
  --scrollbar-thumb-hover: #f6c177;
  --link: var(--txt);
}

[data-theme="dark"] {
  --bg: #191724;
  --txt: #e0def4;
  --primary: #eb6f92;

  --muted: #6e6a86;
  --subtle: #908caa;

  --rose: #ebbcba;
  --accent: #c4a7e7;
  --accent-2: #9ccfd8;
  --accent-3: #31748f;

  --surface: #1f1d2e;
  --link: var(--accent);
}

@media (prefers-color-scheme: dark){
  html[data-theme="system"]{--bg:#191724;--surface:#1f1d2e;--muted:#6e6a86;--subtle:#797593;--txt:#e0def4;--primary:#eb6f92;--accent:#c4a7e7;--accent-2:#9ccfd8;--accent-3:#31748f;--accent-4:#c4a7e7;--link:var(--accent)}
}
@media (prefers-color-scheme: light){
  html[data-theme="system"]{ --bg:var(--lp-bg);--surface:var(--lp-surface);--muted:var(--lp-muted);--subtle:var(--subtle);--text:var(--lp-text);--accent:var(--lp-accent);--accent-2:var(--lp-accent-2);--accent-3:var(--lp-accent-3);--accent-4:var(--lp-accent-4)}
}

/* Reset */
*{margin:0;padding:0;box-sizing:border-box}

/* Unset and Capitalize */
a,button,input{all:unset;text-transform:capitalize}

/* Cursor Pointer Tags */
a,button,svg,img{cursor:pointer}

/* Flex Row Tags */
div{display:flex}

/* Flex row vertically centered */
header,li,a{display:flex;align-items:center}

/* Flex column */
section,article,aside,ul{display:flex;flex-direction:column}

/* Bold Text */
a,button{font-weight: 600}

/* Flex Text Gap */
a{gap: 4px}

/* Surface */
aside,article{background:var(--surface);padding:12px;border:var(--border)}

/* List Style */
ul{list-style:none;font-size:15px;gap:6px}

body {
  margin: 0;
  display: grid;
  min-height: 100vh;
  gap: 16px;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "head" "main" "foot";

  font-family: Inter,system-ui,sans-serif;
  /* font-family: Arial,-apple-system, sans-serif; */
  color: var(--txt);
  background: var(--bg);
  transition: background-color 0.3s ease, color 0.3s ease;
  a{color: var(--link);&:hover{color:var(--primary)}}

  > header{
    grid-area: head;
    gap:12px;
    padding:0 16px;
    background: var(--surface);
    border-bottom: var(--border);

    /* Logo */
    a{
      color: var(--txt);
      gap: 8px;margin-right: auto;
      svg {width: 40px;height: 40px;background:var(--accent)}
    }

    /* Control Buttons */
    button{font-size: 12px}
    #menuBtn{display: none}
  }
}

main{grid-area:main;display:grid}

footer {
  grid-area: foot;
  border-top: var(--border);
  background: var(--surface);
}

html {
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg);
}
::-webkit-scrollbar{width: 10px}
::-webkit-scrollbar-track {background: var(--scrollbar-bg)}
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

@media (max-width: 768px) {
  body{
    grid-template-areas:"head""main""foot";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    #menuBtn {display:block}
    header button {display:none}
  }
}
