:root {
  --bg: #faf4ed;
  --surface: #fffaf3;
  --overlay: #f2e9e1;
  --muted: #9893a5;
  --subtle: #797593;
  --txt: #575279;
  --love: #b4637a;
  --gold: #ea9d34;
  --rose: #d7827e;
  --pine: #286983;
  --foam: #56949f;
  --iris: #907aa9;
  --border: 1px solid var(--muted);
  --dashed: 1px dashed var(--muted);

  --scrollbar-bg: var(--surface);
  --scrollbar-thumb: var(--iris);
  --scrollbar-thumb-hover: #f6c177;
}

[data-theme="dark"] {
  --bg: #191724;
  --surface: #1f1d2e;
  --overlay: #26233a;
  --muted: #6e6a86;
  --subtle: #908caa;
  --txt: #e0def4;
  --love: #eb6f92;
  --gold: #f6c177;
  --rose: #ebbcba;
  --pine: #31748f;
  --foam: #9ccfd8;
  --iris: #c4a7e7;
}

@media (prefers-color-scheme: dark){
  html[data-theme="system"]{--bg:#191724;--surface:#1f1d2e;--overlay:#26233a;--muted:#6e6a86;--subtle:#908caa;--txt:#e0def4;--love:#eb6f92;--gold:#f6c177;--rose:#ebbcba;--pine:#31748f;--foam:#9ccfd8;--iris:#c4a7e7}
}
@media (prefers-color-scheme: light){
  html[data-theme="system"]{--bg:var(--bg);--surface:var(--surface);--overlay:var(--overlay);--muted:var(--muted);--subtle:var(--subtle);--txt:var(--txt);--love:var(--love);--gold:var(--gold);--rose:var(--rose);--pine:var(--pine);--foam:var(--foam);--iris:var(--iris)}
}

/* Reset */
*{margin:0;padding:0;box-sizing:border-box}

/* Unset and Capitalize */
a,button,input{all:unset;text-transform:capitalize}

/* Cursor Pointer Tags */
a,button,svg{cursor:pointer}

/* Flex Row Tags */
div, header, footer, nav, li, a{display:flex}

/* Flex column */
section,article,ul{display:flex;flex-direction:column}

/* Bold Text */
a,button{font-weight: 600}

body {
  margin: 0;
  display: grid;
  min-height: 100vh;
  gap: 16px;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "head" "main" "foot";

  font-family: Inter,system-ui,sans-serif;
  /* font-family: Arial,-apple-system, sans-serif; */
  color: var(--txt);
  background: var(--bg);
  transition: background-color 0.3s ease, color 0.3s ease;
  a{gap:4px;color: var(--iris);&:hover{color:var(--love)}}
  button:hover{color:var(--rose)}

  > header{
    grid-area:head;
    font-size:12px;
    padding:0 16px;
    background:var(--surface);
    border-bottom:var(--border);

    /* Logo */
    a {
      gap:8px;
      color:var(--txt);
      margin-right:auto;
      align-items: center;
      b {font-size:16px}
      svg {width:40px;height:40px;background:var(--iris)}
    }

    /* Control Buttons */
    button{margin-left:16px}
    #menuBtn{display: none}
  }
}

main {grid-area:main;display:grid;height:fit-content}
footer {grid-area: foot;border-top:var(--border);background: var(--surface)}

/* Scrollbar */
html {
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg);
}
:-webkit-scrollbar{width: 10px}
:-webkit-scrollbar-track {background: var(--scrollbar-bg)}
:-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
}
:-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}
