#home{
  grid-template-columns:auto 1fr auto;
  grid-template-areas:"side content nav";

  section{
    margin: 0 auto;
    grid-area: content;
    width: min-content;
    gap: 16px;

    li{gap:4px}
    p,li{font-size:14px}
    a{white-space:nowrap}
    h3,h4{margin-bottom:8px}

    article {
      &:not(:first-child) a::before {content:'✱ '}
      &:first-child a{display:inline;text-transform:none}
      &:nth-child(2) li{align-items:start}

      &:last-child li{
        padding-bottom:4px;
        justify-content:space-between;
        &:not(:last-child) {border-bottom:var(--border)}
      }

      /* Artworks */
      div{
        gap:12px;
        img{
          opacity:75%;
          object-fit:cover;
          width:100px;height:100px;
          &:hover{opacity:100%}
        }
        @media(max-width: 1440px){
          img:last-child{display:none}
        }
        /* Hides Last 3 Images to display only 5 */
        @media(max-width: 1024px){
          img:nth-last-child(-n+3){display:none}
        }
        /* Hides Last 5 Images to display only 3 */
        @media(max-width: 425px){
          img:nth-last-child(-n+5){display:none}
        }
      }
    }
  }
}
