#nav{
  grid-area:nav;
  top:16px;left:0;
  position:sticky;
  align-items: center;
  border:var(--dashed);
  width:fit-content;height:fit-content;
  h4{margin-bottom:4px}
  a{
    font-size:13px;
    color:var(--accent);
    &::before{content: '❖'}
    &:hover{color: var(--primary)}
  }
}
