#projects {
  grid-template-columns: auto 1fr auto;
  grid-template-areas:"side content nav";

  span{align-self:end}
  small{font-size:14px;&:before{content: '★ '}}
  p{font-size: 15px;margin-bottom:auto}

  section {
    grid-area: content;
    margin: 0 auto;

    h3 {margin-bottom:8px}
    article {
      gap: 16px;
      border: none;
      display: grid;
      background: none;
      grid-template-columns: repeat(5, 1fr);
      div {
        gap: 4px;
        width: 260px;
        height: 150px;
        padding: 12px;
        cursor: pointer;
        border: var(--border);
        flex-direction: column;
        background: var(--surface);
        &:hover{
          border: 1px solid var(--love);
          b{color:var(--love)}
        }
      }
      @media(max-width: 1800px){grid-template-columns: repeat(4, 1fr)}
      @media(max-width: 1500px){grid-template-columns: repeat(3, 1fr)}
      @media(max-width: 1230px){div{width:230px}}
      @media(max-width: 780px){
        div{width:260px}
        grid-template-columns: repeat(2, 1fr)
      }
      @media(max-width: 425px){div{width:230px}}
    }
  }
}

@media (max-width: 1150px){
  #nav, #sidebar{display: none}
  header button {display:none}
  #menuBtn {display:block !important}
}
