---
import '../styles/home.css'
import '../styles/aside.css'

import Layout from '../layouts/Layout.astro'
import Sidebar from '../components/Sidebar.astro'
import Navigator from '../components/Navigator.astro'

import registerScript from '../scripts/registerScript'
import homeTranslations from '../i18n/translations/home.json?raw'

const script = await registerScript(`
  langStore.registerTranslations(${homeTranslations})
`)

---
<Layout description="TheRiceCold's homepage">
	<Navigator shortcuts="links" />
	<Sidebar/>

	<main id="home">
		{/*Intro*/}
		<section>
			<h3 data-i18n="welcome"/>
			<p data-i18n-html="intro"/>
		</section>

		{/*Projects*/}
		<section>
			<h4 data-i18n="projects.label"/>
      <ul>
				<template data-i18n-list="projects.list">
					<li data-i18n-item data-i18n-html />
				</template>
      </ul>
		</section>

		{/*Artworks*/}
		<section>
			<h4 data-i18n="links-2"/>
			<div>
				{Array.from({length:8}).fill('').map(i => <img />)}
			</div>
		</section>

		{/*Recent posts*/}
		<section>
			<h4 data-i18n="recentPosts.label"/>
      <ul>
				<template data-i18n-list="recentPosts.list">
					<li>
						<a data-i18n-item="title" />
						<small data-i18n-item="date" />
					</li>
				</template>
      </ul>
		</section>
	</main>
	<script is:inline set:html={script.code}></script>
</Layout>
