---
import Me from '../../public/me.svg'

---
<header>
  <a href="/">
    <Me/>
    <b>TheRiceCold</b>
  </a>
  <button id="langBtn">lang</button>
  <button id="themeBtn">theme</button>
  <button id="menuBtn">☰</button>
</header>
