---
import Me from '../../public/me.svg'

---
<header>
  <a href="/">
    <Me/>
    <b data-i18n="title"/>
  </a>
  <button
    id="langBtn"
    data-i18n-sep=": "
    data-i18n="language,langName"/>
  <button
    id="themeBtn"
    data-i18n-sep=": "
    data-i18n="theme,themeVal"/>
  <button id="menuBtn">☰</button>
</header>
