---
const { title = 'Navigator', shortcuts, outline } = Astro.props
---
<aside id="nav" class={outline ? 'outline' : ''}>
  <ul>
    <h4>⚏ {title} ⚏</h4>
    <template data-i18n-list={shortcuts}>
      <a data-i18n-item data-i18n-item-attr="href" />
    </template>
  <ul>
</aside>
