<aside id="sidebar">
  <h3>Blog posts</h3>
  <input data-i18n-attr="placeholder:search" onclick="location.href='blog'">
  <ul>
    <template data-i18n-list="blog">
      <button data-button data-i18n-item="category" id="dropdownBtn"/>
      <ul>
        <template data-i18n-sublist="posts">
          <a data-i18n-item />
        </template>
      </ul>
    </template>
  </ul>
</aside>
